# Default values for kdp-oam-operator.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

## @section kdp-oam-operator core parameters
## @param images.tag Common tag for kdp-oam-operator images. Defaults to `.Chart.AppVersion`.
## @param images.registry Registry to use for the controller
## @param images.pullPolicy imagePullPolicy to apply to all containers
## @param images.pullSecrets Secrets with credentials to pull images from a private registry
images:
  # -- Common tag for kdp-oam-operator images. Defaults to `.Chart.AppVersion`.
  tag: ""
  # -- Registry to use for the controller
  registry: ""
  # -- imagePullPolicy to apply to all containers
  pullPolicy: IfNotPresent
  # -- Secrets with credentials to pull images from a private registry
  pullSecrets: []
  # - name: argo-pull-secret

## @param systemNamespace.create Specifies whether a system namespace should be created
## @param systemNamespace.name The name of the system namespace
systemNamespace:
  create: false
  name: kdp-system

## @param kdpContextLabel.key The key of the label to use for the kdp context
## @param kdpContextLabel.value The value of the label to use for the kdp context
kdpContextLabel:
  key: kdp-operator-context
  value: KDP

## @param nameOverride String to partially override `kdp-oam-operator.fullname` template
nameOverride: ""
## @param fullnameOverride String to fully override `kdp-oam-operator.fullname` template
fullnameOverride: "kdp-oam-operator"

## @param rbac.create Specifies whether a RBAC role should be created
rbac:
  create: true

## @param serviceAccount.name The name of the service account to use.
## @param serviceAccount.annotations Annotations to add to the service account
## @param serviceAccount.create Specifies whether a service account should be created
serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: kdp-oam-operator-sa

## @param podAnnotations Annotations to add to the pod
podAnnotations: {}

## @param podSecurityContext Security context to add to the pod
podSecurityContext: {}
  # fsGroup: 2000

## @param securityContext Security context to add to the pod
securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

## @param nodeSelector Node selector to add to the pod
nodeSelector: {}

## @param tolerations Tolerations to add to the pod
tolerations: []

## @param affinity Affinity to add to the pod
affinity: {}

## @section kdp-oam-apiserver parameters
## @param apiserver.enabled Specifies whether the apiserver should be enabled
## @param apiserver.replicaCount Number of replicas for the apiserver
## @param apiserver.service.type Service type for the apiserver
## @param apiserver.service.port Port to use for the apiserver
## @param apiserver.image.repository Repository to use for the apiserver
## @param apiserver.image.tag Image tag for the kdp-oam-operator apiserver. Defaults to `.Values.images.tag`.
## @param apiserver.resources Resources to add to the apiserver
## @param apiserver.env Environment variables to add to the apiserver
## @param apiserver.extraArgs Extra arguments to pass to the apiserver
## @param apiserver.serviceAccount.create Specifies whether a service account should be created
## @param apiserver.serviceAccount.annotations Annotations to add to the service account
## @param apiserver.serviceAccount.name The name of the service account to use.
## @skip apiserver.configs.terminalTransformTemplate Data conversion template
## @skip apiserver.configs.terminalTemplate Create cloud shell template data

apiserver:
  enabled: true
  replicaCount: 1
  service:
    type: ClusterIP
    port: 8000
  image:
    repository: kdp-oam-operator/apiserver
    tag: ""
  resources: {}
  env: []
  extraArgs: []
  serviceAccount:
    # Specifies whether a service account should be created
    create: true
    # Annotations to add to the service account
    annotations: { }
    # The name of the service account to use.
    # If not set and create is true, a name is generated using the fullname template
    name: kdp-oam-apiserver-sa
  configs:
    # Create cloud shell template data
    terminalTemplate: |
      apiVersion: cloudshell.cloudtty.io/v1alpha1
      kind: CloudShell
      metadata:
        name: {{ .TerminalName }}
        namespace: {{ .TerminalNameSpace }}
      spec:
       secretRef:
          name: {{ .KubeConfigName }}
       commandAction: {{ .CommandAction }}
       exposureMode: "Ingress"
       ttlSecondsAfterStarted: {{ .TtlSecondsAfterStarted }}
       once: false
       ingressConfig:
         ingressName: cloudtty
         namespace: {{ .TerminalNameSpace }}
         ingressClassName: kong
    # Data conversion template
    terminalTransformTemplate: |-
      {
        "phase": ["status", "phase"],
        "accessUrl": ["status", "accessUrl"],
        "ttl": ["spec", "ttlSecondsAfterStarted"]
      }

## @section kdp-oam-controller parameters
## @param controller.replicaCount Number of replicas for the controller
## @param controller.image.repository Repository to use for the controller
## @param controller.image.tag Image tag for the kdp-oam-operator controller. Defaults to `.Values.images.tag`.
## @param controller.metricService.enabled Specifies whether the metric service should be enabled
## @param controller.metricService.type Service type for the metric service
## @param controller.metricService.port Port for the metric service
## @param controller.healthzService.type Service type for the healthz service
## @param controller.healthzService.port Port for the healthz service
## @param controller.Resources.limits.cpu CPU limits to add to the controller Requests to add to the controller
## @param controller.Resources.limits.memory Memory limits to add to the controller
## @param controller.Resources.requests.cpu CPU requests to add to the controller
## @param controller.Resources.requests.memory Memory requests to add to the controller
## @param controller.env Environment variables to add to the controller
## @param controller.extraArgs Extra arguments to pass to the controller
## @param controller.args.concurrentReconciles Number of concurrent reconciles to use for the controller
## @param controller.args.reSyncPeriod Reconcile period to use for the controller
controller:
  replicaCount: 1
  image:
    repository: kdp-oam-operator/controller
    tag: ""
  metricService:
    enabled: true
    type: ClusterIP
    port: 8080
  healthzService:
    type: ClusterIP
    port: 9440
  Resources:
    limits:
      cpu: 500m
      memory: 500Mi
    requests:
      cpu: 10m
      memory: 64Mi
  env: []
  extraArgs: []
  args:
    concurrentReconciles: 5
    reSyncPeriod: 10s

## @param admissionWebhooks.enabled Specifies whether admission webhooks should be enabled
## @param admissionWebhooks.service.type Service type for the admission webhooks
## @param admissionWebhooks.service.port Port for the admission webhooks
## @param admissionWebhooks.failurePolicy Failure policy for the admission webhooks
## @param admissionWebhooks.certManager.enabled Specifies whether cert-manager should be used for the admission webhooks
## @param admissionWebhooks.certificate.mountPath Path to mount the certificate
## @param admissionWebhooks.patch.enabled Specifies whether the patch should be enabled
## @param admissionWebhooks.patch.image.repository Repository to use for the patch
## @param admissionWebhooks.patch.image.tag
## @param admissionWebhooks.patch.image.pullPolicy imagePullPolicy to apply to the patch
## @param admissionWebhooks.patch.nodeSelector Node selector to add to the patch
## @param admissionWebhooks.patch.affinity Affinity to add to the patch
## @param admissionWebhooks.patch.tolerations Tolerations to add to the patch
admissionWebhooks:
  enabled: false
  service:
    type: ClusterIP
    port: 9443
  failurePolicy: Fail
  certManager:
    enabled: false
  certificate:
    mountPath: /k8s-webhook-server/serving-certs
  patch:
    enabled: true
    image:
      repository: oamdev/kube-webhook-certgen
      tag: v2.4.1
      pullPolicy: IfNotPresent
    nodeSelector: { }
    affinity: { }
    tolerations: [ ]
