# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: CI-Build

on:
  release:
    types:
      - published
    tags:
      - v*

jobs:
  build-docker-images:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Get Short SHA
        id: slug
        run: echo "git_revision=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Get Version
        id: get_version
        run: |
          if [[ $version =~ ^v[0-9]+\.[0-9]+(\.[0-9]+)?(-rc[0-9]+)?$ ]]; then
            VERSION=${{ github.ref_name }}
          else
            VERSION="latest"
          fi
          echo "VERSION=${VERSION}" >> $GITHUB_OUTPUT


      - name: Docker Login
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d # v3.0.0
        with:
          username: ${{ secrets.REG_USER }}
          password: ${{ secrets.REG_PASSWD }}

      - name: Build Images
        run: |
          if [[ $version =~ ^v[0-9]+\.[0-9]+(\.[0-9]+)?(-rc[0-9]+)?$ ]]; then
            GIT_VERSION=${{ github.ref_name }}
          else
            GIT_VERSION=${{ steps.slug.outputs.git_revision }}
          fi
          make docker-build IMG_REGISTRY=${{ secrets.CONTAINER_REGISTRY }} VERSION=${{ steps.get_version.outputs.VERSION }}

      - name: Push Images
        run: make docker-push IMG_REGISTRY=${{ secrets.CONTAINER_REGISTRY }} VERSION=${{ steps.get_version.outputs.VERSION }}
